*{
padding:auto;
margin:auto;
}

html, body {
   background-color: rgb(241, 241, 241);
   padding: 0;
   margin: 0;
}

.container{
  width:80%;
}

.board {
  width:70%;
  float:left;
}
.battlebar {
  width:30%;
  float:left;
}
#battlebar {
  width:80%;
  float:right;
}


body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}
